@use 'src/assets/colors'
@use '../../../assets/animations'
  
.details, .noSelectedRepo, .loader
  background: colors.$bg
  max-width: calc(100svw / 3)
  min-width: calc(100svw / 3)
  padding: 24px 32px
  p
    font-size: 14px

.noSelectedRepo
  display: flex
  justify-content: center
  padding-top: 45svh


.details
  display: flex
  flex-direction: column
  gap: 1rem

  h3
    font-size: 32px

  .line
    display: flex
    justify-content: space-between
    align-items: end

    p 
      @extend .line
      gap: 0.5rem

    .language
      background: colors.$primary
      color: white
      padding: 6px 16px
      border-radius: 999px

.loader
  display: flex
  flex-direction: column
  gap: 1rem

  .line
    display: flex
    justify-content: space-between
    align-items: end
    .language
      height: 33px
      border-radius: 999px
      width: 25%
    
    .stars
      width: 25%




  .loaderHeadline, .desc, .language, .stars 
    @extend .animation
    height: 21px
    border-radius: 5px

  .loaderHeadline
    height: 48px

  
